<a href="https://colab.research.google.com/github/InSpira4/CS5617-DataScienceProject/blob/sugi/Descriptive_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [46]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Natera.csv');
df.head()

   Ticket Number Date of Service  ... Allowed Amount Case Count
0         104452        1/2/2019  ...         $0.00           1
1         104453        1/2/2019  ...         $0.00           1
2         104454        1/2/2019  ...         $0.00           1
3         104496        1/2/2019  ...       $749.00           1
4         104497        1/2/2019  ...       $749.00           1

[5 rows x 21 columns]

In [0]:
cols = ['Payments', 'Charges', 'Insurance Payment', 'Patient Payment', 'Writeoffs', 'Insurance Bal', 'Patient Bal', 'Allowed Amount']
for col in cols:
  df[col] = pd.to_numeric(df[col].apply(lambda x: x.replace('$','')).apply(lambda x: x.replace(' ','')).apply(lambda x: x.replace(',','')).apply(lambda x: x.replace('(','')).apply(lambda x: x.replace(')','')))

In [0]:
cols = ['Date of Service', 'Date of Entry', 'Payment Post Date', 'First Billed Date']
for col in cols:
  df[col] = pd.to_datetime(df[col], errors='coerce')

In [0]:
cols = ['Ticket Number', 'Carrier Code', 'FinancialClass', 'CPT', 'NPI', 'Ordering Clinic', 'Denied Code', 'Provider Profile']
for col in cols:
  df[col] = df[col].astype('str')

In [53]:
def checkStatus(row):
  if(row['Denied Code'].strip() == '-'  and row['Payment Post Date'] != pd.NaT):
    return True
  elif(row['Denied Code'].strip() != '-'):
    return False
  else:
    return NaN
df['accepted'] = df.apply(lambda row: checkStatus(row), axis=1)
df['accepted'].sum()

6298

In [52]:
df['accepted']

0        False
1        False
2         True
3         True
4         True
         ...
10352     True
10353     True
10354     True
10355    False
10356    False
Name: accepted, Length: 10357, dtype: bool