In [1]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv("C:/Users/Laval/Downloads/MSCatUOM/data-science/project/data/Natera.csv")

In [10]:
df.head()

,Ticket Number,Date of Service,Carrier Code,Charges,Payments,Insurance Payment,Patient Payment,Writeoffs,FinancialClass,CPT,...,Payment Post Date,NPI,Ordering Clinic,Denied Code,First Billed Date,Provider Profile,Insurance Bal,Patient Bal,Allowed Amount,Case Count
0,104452,1/2/2019,CFHP-E2,"$3,900.00",$0.00,$0.00,$0.00,$0.00,NC - NON-CONTRACTED,81507,...,1/22/2019,1316428238,ALAMO WOMEN'S OBGYN,197,1/8/2019,NTINC,$0.00,"$3,900.00",$0.00,1
1,104453,1/2/2019,CFHP-E2,"$3,900.00",$0.00,$0.00,$0.00,$0.00,NC - NON-CONTRACTED,81507,...,1/24/2019,1316428238,ALAMO WOMEN'S OBGYN,197,1/8/2019,NTINC,$0.00,"$3,900.00",$0.00,1
2,104454,1/2/2019,NCS,$795.00,$249.00,$0.00,$249.00,$546.00,SP - SELF PAY,99999,...,2/10/2019,1699760116,COMPREHENSIVE WOMEN'S HEALTHCARE,-,-,NTINC,$0.00,$0.00,$0.00,1
3,104496,1/2/2019,AETLIF-E,"$3,900.00",$0.00,$0.00,$0.00,$0.00,CT - CONTRACTED,81420,...,1/28/2019,1609216597,PEACHTREE WOMEN'S CLINIC - NORTHSIDE,-,1/8/2019,NTINC,"$3,900.00",$0.00,$749.00,1
4,104497,1/2/2019,AETLIF-E,"$3,900.00",$0.00,$0.00,$0.00,$0.00,CT - CONTRACTED,81420,...,1/30/2019,1609216597,PEACHTREE WOMEN'S CLINIC - NORTHSIDE,-,1/8/2019,NTINC,"$3,900.00",$0.00,$749.00,1

Try without pre processing

In [12]:
df.describe()

       Ticket Number           NPI  Case Count
count   10357.000000  1.035700e+04     10357.0
mean   213621.134402  1.517730e+09         1.0
std     61672.060597  2.808536e+08         0.0
min    104452.000000  1.003002e+09         1.0
25%    173660.000000  1.285067e+09         1.0
50%    200932.000000  1.538167e+09         1.0
75%    263815.000000  1.750303e+09         1.0
max    407677.000000  1.992949e+09         1.0

In [13]:
df.describe(include=['object'])

,Date of Service,Carrier Code,Charges,Payments,Insurance Payment,Patient Payment,Writeoffs,FinancialClass,CPT,Date of Entry,Payment Post Date,Ordering Clinic,Denied Code,First Billed Date,Provider Profile,Insurance Bal,Patient Bal,Allowed Amount
count,10357,10357,10357,10357,10357,10357,10357,10357,10357,10357,10357,10353,10357,10357,10357,10357,10357,10357
unique,1,339,46,552,524,44,539,9,42,26,32,1057,55,27,2,56,312,212
top,1/2/2019,AETLIF-E,"$3,900.00",$0.00,$0.00,$0.00,$0.00,CT - CONTRACTED,81420,1/27/2019,-,MOORE OB/GYN,-,1/27/2019,NTINC,$0.00,$0.00,$0.00
freq,10357,965,1797,8989,9118,10228,7298,5093,1710,1928,3559,146,6298,1784,10246,5251,7084,7206